[submodule "xserver"]
	path = xserver
	url = git://github.com/not0xFF/xserver.git
[submodule "qemu"]
	path = qemu
	url = git://github.com/not0xFF/qemu.git
[submodule "xorg-macros"]
	path = xorg-macros
	url = git://anongit.freedesktop.org/xorg/util/macros
